#main {
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -25%;
}

#wrapper {
	width: 100%;
}

#concept-listing-heading {
	background-image: linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, #EBEBEB),
		color-stop(1, #FFFFFF)
	);
	padding: 10px;
	text-transform: lowercase;
	font-weight: bold;
}

#concept-listing {
	background-color: #f6f6f6;
	padding: 10px;
}

#concept-listing section {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}

.num {
	float: left;
	width: 5%;
}

.left {
	float: left;
	width: 45%;
}

.left a {
	text-decoration: none;
	color: #8bc410;
}

.right {
	float: right;
	width: 45%;
}
