html, button, input, select, textarea { 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

textarea:focus, input:focus{
    outline: none;
}

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	background: #6188ad url(../images/bg.gif) repeat;
	margin: 0 auto;
	width: 60%;
	font-size: 1em;
	line-height: 1.4;
	color: #2c2c2c;
}

header {
	background: #b1d51f;
	padding: 10px;
	height: 40px;
	margin-top: -5px;
	border-radius: 8px;
}

#logo {
	float: left;
	width: 20%;
	font-size: 32px;
}

ul#links {
	float: right;
	margin-top: 15px;
}

ul#links li {
	display: inline;
	margin-left: 15px;
}

ul#links li a {
	text-decoration: none;
	color: #000;
}

ul#links li a:hover {
	border-bottom: 1px dotted #2c2c2c;
}

#main {
	margin-top: 70px;
}

#main p#intro {
	font-size: 18px;
	color: #828282;
	text-align: center;
	font-style: italic;
}

#main b{
	font-size: 24px;
}

#login {
	width: 400px;
	height: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#login input {
	width: 90%;
	height: 50px;
	font-size: 24px;
	margin-top: 15px;
	padding-left: 10px;
	float: right;
	color: #9a9a9a;
	border: 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
}

#login input:focus {
	background: #595959;
	color: #bdd72f;
}

button {
	float: right;
	margin-top: 15px;
}

button#loginButton {
	color: #000;
	font-weight: bold;
}

#register_error{
	background-color: #ffafaf;
	width: 300px;
	margin: 0 auto;
	margin-top: -40px;
	font-size: 14px;
	color: #b41919;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #da2525;
	display: none;
}

#register {
	width: 70%;
	margin: 0 auto;
}

#register #fields {
	float: left;
	width: 60%;
}
#register #register_join{
	float: left;
	width: 30%;
	margin-top: -15px;
}

#register #fields div {
	margin-bottom: 15px;
}

#register input {
	width: 300px;
	height: 40px;
	font-size: 20px;
	color: #9a9a9a;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	padding-left: 10px;
}

#register input:focus {
	background: #595959;
	color: #bdd72f;
}

#concept-wrapper {
	width: 100%;
}

#concept-listing-heading {
	background-image: linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #EBEBEB 9%, #FFFFFF 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, #EBEBEB),
		color-stop(1, #FFFFFF)
	);
	padding: 10px;
	text-transform: lowercase;
	font-weight: bold;
}

#concept-listing {
	background-color: #f6f6f6;
	padding: 10px;
}

#concept-listing section {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}

#concept-listing-heading .num, #concept-listing .num {
	float: left;
	width: 5%;
}

#concept-listing-heading .left, #concept-listing .left {
	float: left;
	width: 45%;
}

#concept-listing .left a {
	text-decoration: none;
	color: #8bc410;
}

#concept-listing-heading .right, #concept-listing .right {
	float: right;
	width: 45%;
}

/*=======================================
		FOOTER
=======================================*/

footer {
	position: absolute;
	bottom: 0;
	width: 60%;
	border-top: 1px solid #b1cb37;
	color: #fff;
}

footer p {
	float: left;
}

footer #bottom-links {
	float: right;
}

footer #bottom-links li {
	display: inline;
	margin-left: 5px;
}

footer #bottom-links li a {
	color: #b1cb37;
}

/*=======================================
		OTHER ELEMENT STYLING
=======================================*/

.box-shadow {
	-moz-box-shadow: 2px 2px 6px #000; 
  	-webkit-box-shadow: 2px 2px 6px #000; 
  	box-shadow: 2px 2px 6px #000;
}

::-webkit-input-placeholder {
   color: #bfbfbf;
}

:-moz-placeholder {  
   color: #bfbfbf;
}

.clear {
	clear: both;
}