html, button, input, select, textarea { 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

textarea:focus, input:focus{
    outline: none;
}

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	background: #6188ad url(../images/bg.gif) repeat;
	margin: 0 auto;
	width: 60%;
	font-size: 1em;
	
	color: #2c2c2c;
}

header {
	background: #b1d51f;
	padding: 10px;
	height: 40px;
	margin-top: -5px;
	border-radius: 8px;
}

#logo {
	float: left;
	width: 20%;
	font-size: 32px;
}

ul#links {
	float: right;
	margin-top: 15px;
}

ul#links li {
	display: inline;
	margin-left: 10px;
}

ul#links li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

ul#links li a:hover {
	border-bottom: 1px dotted #2c2c2c;
}




::-webkit-input-placeholder {
   color: #bfbfbf;
}

:-moz-placeholder {  
   color: #bfbfbf;
}





footer {
	position: fixed;
	bottom: 0;
	width: 60%;
	border-top: 1px solid #b1cb37;
	color: #fff;
}

footer p {
	float: left;
}

footer #bottom-links {
	float: right;
}

footer #bottom-links li {
	display: inline;
	margin-left: 5px;
}

footer #bottom-links li a {
	color: #b1cb37;
}


#register{
	
	
	margin-left:10%;
	
	width:70%;
	text-align: right
}
#register p{
	font-size: 18px;
	color: #828282;

}

#register input{
	width: 60%;
	font-size: 18px;
	margin-top: 4px;
	margin-left: 20px;
	
	color: #9a9a9a;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
}
#register input:focus {
	background: #595959;
	color: #bdd72f;
}


button {
	color: #000;
	font-weight: bold;
	float: right;
	margin-top: 15px;
}
.error {
	display: none;
	color: white;
	font-size: 12px;
	text-align: left;
	margin-left: 40%;
	border: 1px solid white;
	padding: 4px;
}
.info{
	display: none;
	color: white;
	font-size: 12px;
	text-align: left;
	margin-left: 40%;
}
.empty{
	display:none;
	color:#FE57A1;
	font-size:12px;
	text-align: left;
	margin-left: 40%;
}
.clear {
	clear: both;
}